.tile
  border-radius: 2em
  background-color: red
  padding: 0.75em 2.25em
  &__selected
    width: 35%
    background-color: rebeccapurple
    color: $white
    position: relative
    &--temp
      font-size: 6em
      margin-bottom: 0
    &--desc
      margin-top: -1em
    &--label
      margin-bottom: 0
      margin-top: 2.5em
    &--hum
      margin-bottom: 0
      opacity: 0.4
      color: $gray-300
      font-weight: bold
      font-size: 1.5em
    &--icon
      position: absolute
      right: 0
      top: 0
      margin: 0.75em
      opacity: 0.4
      cursor: pointer

  &--temp
    &:after
      content: ''
      position: absolute
      display: block
      border-radius: 100%
      color: white
  &__next
    width: 12%
    padding: 0.75em 1.75em
.next--wrapper
  justify-content: space-evenly
  padding: 0